.footerLink {
  color: #000000;
  padding-left: 10px;
  font-size: 15px;
  text-decoration: none;
}

.footerLink:hover {
  color: red;
  transition: 200ms ease-in;
}

.footerPolitics{
    padding-bottom: 100px ;
}
